.list-categories-client{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &__category{
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid black;
        margin: 10px 0;
        &:hover{
            cursor: pointer;
            opacity: 0.7;

        }
        .ui.image{
            margin-right: 10px;
        }
    }
}