.tables-list-admin{
    display: flex;
    flex-wrap: wrap;

    &__reload{
        margin: 0;
        position: absolute;
        top: 70px;
        right:70px ;
    }
    &__reload-toggle{
        position: absolute !important;
        top: 78px;
        right: 120px;
        display:flex ;
        align-items: center;

        span{
            margin-right: 20px;
        }
        
    }
}